[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
alembic = "*"
annotated-types = "*"
anyio = "*"
asgiref = "*"
cachetools = "*"
certifi = "*"
cffi = "*"
charset-normalizer = "*"
click = "*"
coreapi = "*"
coreschema = "*"
cryptography = "*"
dj-database-url = "*"
django = "*"
django-cors-headers = "*"
django-environ = "*"
django-rest-swagger = "*"
djangorestframework = "*"
djangorestframework-jwt = "*"
djangorestframework-simplejwt = "*"
drf-yasg = "*"
ecdsa = "*"
fastapi = "*"
fastapi-sqlalchemy = "*"
flake8 = "*"
google-api-core = "*"
google-api-python-client = "*"
google-auth = "*"
google-auth-httplib2 = "*"
google-cloud-appengine-logging = "*"
google-cloud-audit-log = "*"
google-cloud-core = "*"
google-cloud-logging = "*"
googleapis-common-protos = "*"
grpc-google-iam-v1 = "*"
grpcio = "*"
grpcio-status = "*"
gunicorn = "*"
h11 = "*"
httplib2 = "*"
idna = "*"
inflection = "*"
itypes = "*"
jinja2 = "*"
mako = "*"
markupsafe = "*"
openapi-codec = "*"
packaging = "*"
proto-plus = "*"
protobuf = "*"
psycopg2-binary = "*"
pyasn1 = "*"
pyasn1-modules = "*"
pycparser = "*"
pydantic = "*"
pydantic-core = "*"
pyjwt = "*"
pyparsing = "*"
python-dotenv = "*"
python-jose = "*"
pytz = "*"
pyyaml = "*"
requests = "*"
rsa = "*"
simplejson = "*"
six = "*"
sniffio = "*"
sqlalchemy = "*"
sqlparse = "*"
starlette = "*"
typing-extensions = "*"
uritemplate = "*"
urllib3 = "*"
uvicorn = "*"
whitenoise = "*"

[dev-packages]

[requires]
python_version = "3.11"
python_full_version = "3.11.5"
